@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'Sackers_Gothic_Std_Light';
	src: url('../fonts/Sackers_Gothic_Std_Light/Sackers_Gothic_Std_Light.eot');
	src: url('../fonts/Sackers_Gothic_Std_Light/Sackers_Gothic_Std_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Sackers_Gothic_Std_Light/Sackers_Gothic_Std_Light.woff') format('woff'), url('../fonts/Sackers_Gothic_Std_Light/Sackers_Gothic_Std_Light.ttf') format('truetype'), url('../fonts/Sackers_Gothic_Std_Light/Sackers_Gothic_Std_Light.svg#Sackers_Gothic_Std_Light') format('svg');
}

.rain {
    flex: 1 1 100%;
    padding-left: 0px !important; 
    width: 100%;
}

.ds {
	font-family: 'Sackers_Gothic_Std_Light', sans-serif !important;
}

.countdown {
	margin: auto;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 30px;
}

.slideshow {
	position: relative;
	height: 100vh;
	width: 100vw;
	background: url(../img/city.jpg) no-repeat center top;
	background-size: cover;
	overflow: hidden;
}

.slideshow::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.2);
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 35vh 0 0 0;
	pointer-events: none;
	line-height: 1;
	font-family: "Roboto", sans-serif;
}

/* Content */

.slide__element {
	opacity: 0;
	color: #252445;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.slide--current .slide__element {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

@media screen and (max-height: 39em) {
	.slideshow {
		font-size: 75%;
	}
	.slide {
		padding-top: 35vh;
	}
}
